@font-face {
    font-family: "Tactic Sans";
    src: url("../assets/fonts/TacticSans-MedIt.otf") format("truetype");
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    margin: 0;
    font-family: "Tactic Sans", sans-serif;
}