.header {
    margin-bottom: 20px;

    .logo {
        gap: 24px;

        .logo__text {
            margin: 0;
        }
    }
}

@media (max-width: 1300px) {
    .header {
        flex-direction: column;
        gap: 10px;

        .logo {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .logo {
        flex-direction: column;
        gap: 14px;
    }
}