.details {
    flex-direction: row;
    margin-top: 32px;

    .vs-line {
        display: none;
        color: var(--steel-gray);

        .hr {
            width: 100%;
            border-color: var(--obsidian-gray);
        }
    }
}

@media (max-width: 1900px) {
    .details {
        flex-direction: column;

        .vs-line {
            margin: 8px 0;
            width: 100%;
            display: flex;
            gap: 10px;
        }
    }
}