.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 36px;
    background-color: #0B0E12;
    border-radius: 4px;
}

.team-name {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.score-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.score {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
}