.status {
    min-width: 92px;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    color: var(--white);

    .scheduled {
        background-color: var(--orange);
    }

    .scheduled::before {
        content: 'Match preparing';
    }

    .ongoing {
        background-color: var(--green);
    }

    .ongoing::before {
        content: 'Live';
    }

    .finished {
        background-color: var(--crimson-red);
    }

    .finished::before {
        content: 'Finished';
    }
}

@media (max-width: 800px) {
    .status {
        min-width: 50px;
        padding: 4px 6px;
    }
}