.container {
    display: flex;
    gap: 12px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #0F1318;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.refresh-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    background-color: #EB0237;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.refresh-button:active {
    background-color: #A01131;
}

.refresh-button:disabled {
    background-color: #701328;
}

@keyframes spinner {
    from { transform: rotate(360deg); }
}

.rotate{
    animation: spinner 1.5s linear infinite;
}