.status-button {
    min-width: 92px;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.scheduled {
    background-color: #EB6402;
}

.scheduled::before {
    content: 'Match preparing';
}

.ongoing {
    background-color: #43AD28;
}

.ongoing::before {
    content: 'Live';
}

.finished {
    background-color: #EB0237;
}

.finished::before {
    content: 'Finished';
}